.inner-header .inner-user .dropbtn {
  background: white;
  padding: 5px 10px;
  border-radius: 40px;
}

.fa-tag {
  transform: rotate(90deg);
}

/* Wallet */
.Wallet {
  padding: 60px 0px;
  background-color: #F9F9F9;
}

.Wallet .card-body {
  padding: 0;
}

.Wallet .list-group-item {
  display: flex;
  align-items: center;
}

.Wallet .list-group-item i {
  font-size: 2rem;
  margin-right: 1rem;
}

.Wallet .voucher i {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #DE9022;
  color: #DE9022;
  margin-right: 1rem;
}

.card {
  padding-bottom: 60px;
}

.inner-tag {
  text-align: center;
  border: 1px solid #E3E3E3;
  padding: 15px 0px;
}

.inner-tag .inner-title {
  margin: 0px 8px;
}

.inner-tag .inner-number {
  color: #DE9022;
  font-weight: 550;
}

.inner-tag:nth-child(2) {
  border-bottom: 2px solid #DE9022;
}

.Wallet .list-group-item:nth-child(1) {
  background-color: #DD8F22;
  color: white;
  font-size: 26px;
  font-weight: 550;
}

.Wallet .list-group-item:nth-child(4), .fa-wallet {
  color: #DD8F22;
} 

.Wallet .inner-card-title {
  display: flex;
  justify-content: space-between;
}

.coupon-list {
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.voucher {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.voucher:last-child {
  border-bottom: none;
}

.icon {
  color: orange;
  font-size: 24px;
  margin-right: 15px;
}

.voucher-info p {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.voucher-info span {
  font-size: 14px;
  color: #666;
}

.voucher a {
  margin-left: auto;
  color: #007BFF;
  text-decoration: none;
}

.voucher a:hover {
  text-decoration: underline;
}

.outter-border {
  border: 1px solid #E3E3E3;
  background-color: #fff;
  padding :0;
}
/* End Wallet */